html {
    background: url("https://images.unsplash.com/photo-1514477917009-389c76a86b68?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=961&q=80") center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
    background-color: black;
}

html.opposite {
    background-image: url("https://images.unsplash.com/photo-1468276311594-df7cb65d8df6?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");    
    background-color: white;
}

.container-sm {
    position: absolute;
    top: 48%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 5% 10%;
    background-color: white;
    text-align: center;
    border-radius: 5%;
    width: auto;
    opacity: .8;
    box-shadow: 2px 6px 10px #444343;
}

.container-sm.opposite {
    background-color: black;
    color: white;
}

i {
    padding: 20px;
}

p {
    font-size: .8rem;
}

#myCheckbox {
    display: block;
    margin: 2.2rem auto .7rem;
    width: 1.5rem;
    height: 1.5rem;
}

a {
   font-size: .8rem;
}

.invisible {
    visibility: hidden;
}

/* Mobile */

@media(max-width: 567px){
    .container-sm {
        width: 20rem;
    }
}
